<html>
<body>

 <h2>
   Watchlists
   <span class="badge" id="watchlist-count"> <%= @watchlists.count %></span>
 </h2>

 <table class="table table-hover table-striped table-condensed">
   <thead>
     <tr>
       <th>Species</th>
       <th>User ID</th>
       <th>Price</th>
       <th></th>
     </tr>
   </thead>
   <tbody  id="current-watchlists">
     <% @watchlists.each do |w| %>
    <tr>
      <th> <%= w.species %></th>
      <th> <%= w.user.email.split('@').first %></th>
<<<<<<< HEAD
      <th>$<%= w.price %></th>
      <% if policy(w).edit? %>
        <th><%= button_to 'Edit', edit_watchlist_path(w.id), class: "btn btn-success btn-xs", method: :get  %>
      <% end %>
      <% if policy(w).destroy? %>
        <%= button_to 'Delete', watchlist_path(id: w.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-success btn-xs"  %>
=======
      <th> <%= number_to_currency(w.price, :unit => "$") %></th>
      <% if current_user == w.user %>
      <th><%= button_to 'Edit', edit_watchlist_path(w.id), class: "btn btn-success btn-xs", method: :get  %>
      <%= button_to 'Delete', watchlist_path(id: w.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-success btn-xs"  %>
      </th>
>>>>>>> 255116cb670fd446f5b43fe92004197deaa438b5
      <% end %>
      </th>
    </tr>
      <% end %>
   </tbody>
 </table>
  <% if policy(current_user).new? %>
    <%= button_to "New watchlist", new_watchlist_path, class: "btn btn-success btn-xs", method: "get" %>
  <% end %>
</body>
</html>
