<html>
  <body>
    <h3>Sell a pet<h3>
    <%= bootstrap_form_for @pet, url: pets_path do |f| %>
     <%= f.text_field :species, label: "Species:" %>
     <%= f.text_field :price, label: "Set Price:" %>
     <%= f.text_field :description, label: "Description" %>
     <%= f.hidden_field :seller_id, value: current_user.id %>
     <button class="btn btn-primary btn-sm">Submit</button>
    <% end %>
  </body>
</html>
