<html>
<body>

 <h2>
   Pet listing
 </h2>

 <table class="table table-hover table-striped table-condensed">
   <thead>
     <tr>
       <th>Species</th>
       <th>Seller ID</th>
       <th>Price</th>
       <th>Description</th>
     </tr>
   </thead>
   <tbody  id="current-pets">
    <tr>
      <th> <%= @pet.species %></th>
      <th> <%= @pet.seller.email.split('@').first %></th>
      <th>$<%= @pet.price %></th>
      <th> <%= @pet.description %></th>
    </tr>
   </tbody>
 </table>

 <form action="" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_iSj3eYtFd2Ul8cBLBNrKk5As"
    data-amount="<%= @stripe_price %>"
    data-name="'Legal' Pets"
    data-description="<%= @pet.species %>"
    data-image="https://www.gravatar.com/avatar/<%= Digest::MD5.hexdigest(@pet.seller.email) %>"
    data-locale="auto">
  </script>
</form>
</body>
</html>
