<html>
<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <div> <!--padding-->
          <ul>
          </ul>
        </div>
        <img src="<%= @pet.image_url %>" height="236" width="180" onerror="this.src='/no-cover.gif'" />
        <div> <!--padding-->
          <ul>
          </ul>
        </div>
        <p>Status: <%= @pet.status %></p>
      </div>
      <div class="col-lg-7">
        <h3><%= @pet.common_name %> (<%= @pet.species %>)</h3>
        <h4>Seller: <%= @pet.seller.email.split('@').first %></h4>
        Description:
        <ul>
          <li><%= @pet.description  %></li>
        </ul>
      </div>
    </div>
  </div>

 <form action="" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_iSj3eYtFd2Ul8cBLBNrKk5As"
    data-amount="<%= @stripe_price %>"
    data-name="'Seems Legit' Pets"
    data-description="<%= @pet.species %>"
    data-image="https://www.gravatar.com/avatar/<%= Digest::MD5.hexdigest(@pet.seller.email) %>"
    data-locale="auto">
  </script>
</form>
</body>
</html>
