<html>
<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <div> <!--padding-->
          <ul>
          </ul>
        </div>
        <img src="<%= @pet.image_url %>" height="236" width="180" onerror="this.src='/no-cover.gif'" />
        <div> <!--padding-->
          <ul>
          </ul>
        </div>
        <p>Status: <%= @pet.status %></p>
        <p>Price: $<%= @pet.price %></p>
        <% if @pet.status != 'sold' && policy(current_user).create? %>
          <form action="/charges" method="POST">
            <script
              src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="pk_test_iSj3eYtFd2Ul8cBLBNrKk5As"
              data-amount="<%= @pet.price*100 %>"
              data-name="'Legal' Pets"
              data-description="<%= @pet.species %>"
              data-image="https://www.gravatar.com/avatar/<%= Digest::MD5.hexdigest(@pet.seller.email) %>"
              data-locale="auto">
            </script>
            <input type="hidden" name="pet_id" value="<%= @pet.id %>">
            <input type="hidden" name="price" value="<%= @pet.price*100 %>">
            <input type="hidden" name="buyer_id" value="<%= current_user.id %>">
          </form>
        <% end %>
      </div>
      <div class="col-lg-7">
        <h3><%= @pet.common_name %> (<%= @pet.species %>)</h3>
        <h4>Seller: <%= @pet.seller.email.split('@').first %></h4>
        Description:
        <ul>
          <li><%= @pet.description  %></li>
        </ul>
        <% if policy(@pet).edit? %>
          <%= button_to "Edit Listing", edit_pet_path(@pet), :class => "btn btn-primary btn-sm", :method => :get %>
        <% end %>
      </div>
    </div>
  </div>
</body>
</html>
