<html>
<body>

 <h2>
   Your Pet Listings
   <span class="badge" id="pet-count"> <%= current_user.pets.count %></span>
 </h2>

 <table class="table table-hover table-striped table-condensed">
   <thead>
     <tr>
       <th>Species</th>
       <th>Common Name</th>
       <th>Seller</th>
       <th>Price</th>
       <th>Description</th>
       <th>Status</th>
       <th></th>
     </tr>
   </thead>
   <tbody  id="current-pets">
     <% current_user.pets.each do |p| %>
    <tr>
      <th> <%= p.species %></th>
      <th> <%= p.common_name %></th>
      <th> <%= p.seller.email.split('@').first %></th>
      <th>$<%= p.price %></th>
      <th> <%= p.description %></th>
      <th> <%= p.status %></th>
      <th><%= button_to "Show", pet_path(id: p.id), class: "btn btn-success btn-xs", method: "get" %></th>
    </tr>
      <% end %>


   </tbody>
 </table>

 <h2>
   Your Pet Purchases
   <span class="badge" id="pet-count"> <%= current_user.purchases.count %></span>
 </h2>
 <table class="table table-hover table-striped table-condensed">
   <thead>
     <tr>
       <th>Species</th>
       <th>Common Name</th>
       <th>Seller</th>
       <th>Price</th>
       <th>Description</th>
       <th>Status</th>
       <th></th>
     </tr>
   </thead>
   <tbody  id="current-pets">
     <% current_user.purchases.each do |p| %>
    <tr>
      <th> <%= p.species %></th>
      <th> <%= p.common_name %></th>
      <th> <%= p.seller.email.split('@').first %></th>
      <th>$<%= p.price %></th>
      <th> <%= p.description %></th>
      <th> <%= p.status %></th>
      <th><%= button_to "Show", pet_path(id: p.id), class: "btn btn-success btn-xs", method: "get" %></th>
    </tr>
      <% end %>


   </tbody>
 </table>


</body>
</html>
